/* UNIVERSAL CLASSES */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../font/Roboto.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


* {
	-webkit-tap-highlight-color: transparent;
	font-family: 'Roboto';
}

/* ELEMENT CSS */

table.year {
	width: 2500px;
}

td.day {
	height: 100px;
	width: 100px;
	padding: 10px;
	outline: 2px solid black;
    vertical-align: top;
	color: white;
	background-color: purple;
}

.year > .label {
	text-align: center;
	font-weight: bold;
}

.month > .label {
	text-align: left;
	font-weight: bold;
}
