/* UNIVERSAL CLASSES */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../font/Roboto.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


* {
	-webkit-tap-highlight-color: transparent;
	font-family: 'Roboto';
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
	overflow: hidden;
}

div {
	margin:0px;
	padding:0px;
}

/* PAGE CSS */

.day-view {
	
}

.month-view {
	
}

.year-view {
	
}


/* ELEMENT CSS */

#app {
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}

#app-bar {
	width: 100%;
	background-color: #03A9F4;
	height: 64px;
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	
	-webkit-box-shadow: 0px -5px 26px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -5px 26px 8px rgba(0,0,0,0.75);
	box-shadow: 0px -5px 26px 8px rgba(0,0,0,0.75);
	z-index: 10;
}

#app-bar-icon {
	width: 64px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0;
}

#app-bar-icon>img {
	width: 48px;
	height: 48px;
}

#app-bar-text {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 0;
	padding-left: 8px;
	font-size: 18pt;
}

#app-content {
	position: fixed;
	overflow: auto;
	top: 64px;
	left: 0;
	width: 100%;
	height: calc(100% - 64px);
	background-color: white;
}




